In [ ]:
"""
The purpose of this script is to automate SLA tasks. This includes creating folders for each month and establishment,
creating emails and letters from templates, and more. 


Process:
1) Copy list of items from online agenda into text doc as shown below
2) I will likely want to quickly remove certain text from this, such as section descriptions like 'New Liquor License Applications,' or other info that will not go into the final outputs like the description of the license type. 
3) The most important thing will likely be keeping each entry to one line in the input file as I will likely use line breaks to parse each item. 
4) If this doesn't work, another option might be the period (.) followed by blank spaces. 
5) DBA format seems to be in parentheses after the name. 
6) I will have to manually add lawyers names.
7) Agenda number is the number in the list itself. 



"""

In [2]:
import pandas as pd
import datetime as dt
import openpyxl
import os

In [2]:
"""
1 - Open and read lines of text file
    - https://www.geeksforgeeks.org/reading-writing-text-files-python/
2 - Iterate through each line and build a dataframe / table from the relevant contents
3 - First determine if line starts with number

"""

'\n1 - Iterate through each line and build a dataframe / table from the relevant contents\n2 - First determine if line starts with number\n\n'

In [3]:
agenda_pull = r"C:\Users\MN03\Desktop\Calvin Docs\SLA\Automation Work\Example_Agenda_Pull.txt"

In [50]:
os.path.isfile(agenda_pull)

True

In [51]:
#r+ = read/write access mode
agenda = open(agenda_pull, 'r+')

In [52]:
agenda

In [53]:
#Readlines creates a list, where each index creates 
contents = agenda.readlines()

In [54]:
print(contents)

['INFO PULLED OFF ONLINE AGENDA:\n', "2.    Hwa Yuan Szechuan, 42-44 E B'way (op/alt: add additional floors/method of operation: add karaoke)\n", '3.    Bridgeview Hotel, 50 Bowery \n', 'New Liquor License Applications\n', '4.    Forsythia (JDS Restaurant LLC), 9 Stanton St (upgrade to op)\n', "5.    Roberta's (Avenue A Pizza LLC), 15 Ave A (op)\n", '6.    Lucky Lindon, 21 Essex St (op)\n', '7.    Avenue C Hospitality LLC, 102 Ave C (op)\n', '8.    Bar and Events 14th Street LLC, 124 E 14th St (op)\n', '9.    Lucky Star (Parkside 3 NYC LLC), 135 Division St (wb)\n', '10.    Moneygoround Inc, 235 Eldridge St (op)\n', '11.    Sally Can Wait LLC, 252 Broome St (op)\n', '12.    8282 (BBRH LLC), 84 Stanton St (op)\n', '13.    Sour Mouse (Sweatshop LES LLC), 110 Delancey St (Basement) (upgrade to op)\n', '14.    Tokyo Suhi 168 Inc, 151 Rivington St (op)\n', '15.    Henry Street Pretzels LLC, 193 Henry St (1st Floor) (op)\n', '16.    ACES (Fine Food and Spirits Inc), 197 2nd Ave (op)\n', '17.    Fat Buddha (Fat Social Club), 212 Ave A (op)\n', '18.    Lxta (LLC to be formed by Mike Himani), 299 Bowery (op)\n', '19.    The York, 186 Ave B (op)\n', 'Items not heard at Committee\n', '20.    The Gray Mare (Meath Trails Inc), 61 2nd Ave (op/alt: removing additional bar, lengthening current bar, moving seating around in back room)\n', '21.    Nai Tapas (Nai Tapas Restaurant Corp), 84 2nd Ave (wb/removal from 85 2nd Ave)\n', '22.    3 Times (3 Times 90 Inc), 90-96 Clinton St (wb)\n', '23.    Suki (Cafe TKJ Inc), 111 1st Ave (North) (wb)\n', '24.    Tre (Jersey Boys LLC), 173 Ludlow St (op/method of operation change: add live music)\n', '25.    Fat Choy (China Bull LLC), 250 Broome Street (wb/corp change)\n', '26.    Crab Du Jour Xpress (CDJ Xpresss of Grand St LLC), 384 Grand St (#3) (wb)']

In [55]:
print(contents[1])

2.    Hwa Yuan Szechuan, 42-44 E B'way (op/alt: add additional floors/method of operation: add karaoke)

In [56]:
# BUILD OUT DATAFRAME from Text File
# df = pd.DataFrame(columns = ['agenda_number', 'business_name', 'dba', 'address'])

df = pd.DataFrame(columns = ['line'])

In [57]:
# This creates a dataframe where each row is a line from the agenda pull

agenda_df = pd.DataFrame(contents, columns=['line'])

In [58]:
#df.loc[0,:]
#First character of first string in first row.
agenda_df.loc[0][0][0]

'I'

In [59]:
agenda_df['line'].str[0]

0     I
1     2
2     3
3     N
4     4
5     5
6     6
7     7
8     8
9     9
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    I
21    2
22    2
23    2
24    2
25    2
26    2
27    2
Name: line, dtype: object

In [60]:
# df.drop(df[df['Age'] < 25].index, inplace = True)
agenda_df.drop[agenda_df['line'].str[0].isdigit() ]

AttributeError: 'Series' object has no attribute 'isdigit'

In [61]:
# Get first character of each row. This will help remove items that are not numeric. 
agenda_df['line'].str[0]

0     I
1     2
2     3
3     N
4     4
5     5
6     6
7     7
8     8
9     9
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    I
21    2
22    2
23    2
24    2
25    2
26    2
27    2
Name: line, dtype: object

In [62]:
# Remove leading and trailing characters in Series/Index.
# agenda_df = agenda_df['line'].str.lstrip()

In [63]:
agenda_df['line']

0                      INFO PULLED OFF ONLINE AGENDA:\n
1     2.    Hwa Yuan Szechuan, 42-44 E B'way (op/alt...
2                  3.    Bridgeview Hotel, 50 Bowery \n
3                     New Liquor License Applications\n
4     4.    Forsythia (JDS Restaurant LLC), 9 Stanto...
5     5.    Roberta's (Avenue A Pizza LLC), 15 Ave A...
6                6.    Lucky Lindon, 21 Essex St (op)\n
7      7.    Avenue C Hospitality LLC, 102 Ave C (op)\n
8     8.    Bar and Events 14th Street LLC, 124 E 14...
9     9.    Lucky Star (Parkside 3 NYC LLC), 135 Div...
10      10.    Moneygoround Inc, 235 Eldridge St (op)\n
11      11.    Sally Can Wait LLC, 252 Broome St (op)\n
12         12.    8282 (BBRH LLC), 84 Stanton St (op)\n
13    13.    Sour Mouse (Sweatshop LES LLC), 110 Del...
14    14.    Tokyo Suhi 168 Inc, 151 Rivington St (o...
15    15.    Henry Street Pretzels LLC, 193 Henry St...
16    16.    ACES (Fine Food and Spirits Inc), 197 2...
17    17.    Fat Buddha (Fat Social Club), 212 Ave A...
18    18.    Lxta (LLC to be formed by Mike Himani),...
19                    19.    The York, 186 Ave B (op)\n
20                       Items not heard at Committee\n
21    20.    The Gray Mare (Meath Trails Inc), 61 2n...
22    21.    Nai Tapas (Nai Tapas Restaurant Corp), ...
23    22.    3 Times (3 Times 90 Inc), 90-96 Clinton...
24    23.    Suki (Cafe TKJ Inc), 111 1st Ave (North...
25    24.    Tre (Jersey Boys LLC), 173 Ludlow St (o...
26    25.    Fat Choy (China Bull LLC), 250 Broome S...
27    26.    Crab Du Jour Xpress (CDJ Xpresss of Gra...
Name: line, dtype: object

In [ ]:
# Get first character of each row. This will help remove items that are not numeric. 
agenda_df['line'].str[0]

In [46]:
# remove blank spaces
# agenda_df['line']= agenda_df['line'].str.replace(" ", "")

In [ ]:
# This code iterates through the agenda text

# for index, line in enumerate(lines):
#    print("Line {}: {}".format(index, line.strip()))

for line in contents:
    if line[0].isdigit():
        print(line, "is: ", type(line))

In [64]:
# creating bool series with new column
agenda_df['entry_row']= agenda_df['line'].str[0].str.isdigit()

In [71]:
# Filters 
agenda_df[agenda_df.entry_row]

SyntaxError: invalid syntax (<ipython-input-71-a36c48fb4988>, line 2)